<div class="container">
  <h1 class="text-center text-white mt-3">To-Do List</h1>

  @if (error()) {
  <div class="alert alert-danger mt-3" role="alert">
    {{ error() }}
  </div>
  } @if (isLoading()) {
  <div class="text-center text-white mt-3">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
  }

  <app-todo-form (addTodo)="addTodo($event)"></app-todo-form>

  <app-search-bar
    [searchTerm]="searchTerm()"
    (searchChange)="updateSearchTerm($event)"
    (clearSearch)="clearSearch()"
  >
  </app-search-bar>

  <app-todo-list
    [pendingTodos]="pendingTodos()"
    [completedTodos]="completedTodos()"
    (toggleTodo)="toggleTodo($event)"
    (deleteTodo)="deleteTodo($event)"
  >
  </app-todo-list>
</div>
